@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 Durango Pizza Ct.<br />
    Durango, CO 81301<br />
    <abbr title="Phone">P:</abbr>
    970.111.1111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:integrationteam@mercurypay.com">integrationteam@mercurypay.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:integrationteam@mercurypay.com">integrationteam@mercurypay.com</a>
</address>