@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Durango Pizza demonstrates the DataCap dsiPDCXListener running on a local computer.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cheese Pizza</h2>
        <p>
            Mmmmmmmm.....cheese!
        </p>
        <p><a class="btn btn-default" href="/Home/Pizza">Purchase Pizza &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meat Pizza</h2>
        <p>Lots of meat for the carnivore in you!</p>
        <p><a class="btn btn-default" href="/Home/Pizza">Purchase Pizza &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>No Meat Pizza</h2>
        <p>For those of you that enjoy plant based food!</p>
        <p><a class="btn btn-default" href="/Home/Pizza">Purchase Pizza &raquo;</a></p>
    </div>
</div>